/* main */

.main {
        font-family: Roboto, sans-serif;
        letter-spacing: 0.03em;
}

.main .container {
    text-align: center;

    padding-top: 94px;
    padding-bottom: 94px;
}

.main .nav {
    margin-bottom: 34px;
}

/* button */

.button {
    margin-bottom: 16px;

    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0;

    color: var(--primary-text-color1);
    background-color: var(--secondary-bg-color);
    border-color: transparent;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;

}

.button:hover {
    color: var(title-text-color);
    background-color: var(--primary-site-color);
    cursor: pointer;
}

/* list */

.main .list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    text-decoration: none;
}

.main .box {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--secondary-bg-color);
    border-top: 0;
}

img {
    display: block;
}

.main .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.main .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}


.list .title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.list  .link {
    text-decoration: none;
}

.list .text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}